body {
  background-image: url(../images/fixmeordie.png);
  background-position: right top;
  background-repeat: no-repeat;
  color: #333;
}

pre.code {
  color: white;
  padding: 10px;
  line-height: 120%;
  margin: 10px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  background: #333;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

h3 {
  border-bottom: 1px dashed #ddd;
  margin-top: 30px;
}

img.ss {
  width: 95%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
