body {
  background-image: url(../images/fixmeordie.png);
  background-position: right top;
  background-repeat: no-repeat;
}

pre.code {
  color: white;
  padding: 10px;
  line-height: 120%;
  margin: 10px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  background: #333;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

h2, h3 {
  margin-top: 30px;
}
